.process-section {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 20px 50px;
}


/* Section heading */

.process-label {
    font-family: "Courier New", monospace;
    font-size: 16px;
    color: var(--color-primary);
    letter-spacing: 2px;
    text-align: center;
}

.process-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.process-description {
    max-width: 600px;

    margin: 15px auto 60px auto;

    font-size: 18px;
    line-height: 1.6;
    color: var(--color-desc);

    text-align: center;
}

/* Timeline */

.process-list {
    width: 100%;
}

.process-step {
    display: grid;
    grid-template-columns: 70px 1fr;
    column-gap: 30px;

    padding: 35px 0;

    border-top: 1px solid #ddd;
}

.process-step:last-child {
    border-bottom: 1px solid #ddd;
}

/* Number */

.process-number {
    font-family: "Courier New", monospace;

    font-size: 18px;
    color: var(--color-primary);

    padding-top: 2px;
}

/* Step content */

.process-content {
    max-width: 650px;
}

.process-content h3 {
    margin: 0 0 10px 0;

    font-size: 21px;
    font-weight: bold;
}

.process-content p {
    margin: 0;

    max-width: 650px;

    font-size: 16px;
    line-height: 1.7;
    color: #555;
}

.pricing-information {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

.pricing-information h2 {
    margin: 0 0 20px 0;

    font-size: 24px;
    font-weight: bold;

    text-align: center;
}

.pricing-information p {
    max-width: 650px;
    margin: 0 auto;

    text-align: left;

    font-size: 16px;
    line-height: 1.7;
    color: #555;

    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    padding: 30px 20px
}