body {

    background-color: #f9f6f0;

    margin: 0;

    font-family: Georgia, serif;

}

header {

    display: flex;

    align-items: center;

    padding: 24px 54px;

    border-bottom: 2px solid #dddddd;

}

.name {

    font-size: 36px;

    font-weight: bold;

}

.subtitle {

    font-size: 20px;

    color: #373737;

    margin-left: 8px;

}